<app-dialog [title]="'Update Profile Image'">
    <input [hidden]="true" #inputImage title="File input" type="file"
        (change)="fileChangeEvent($event)" />
    <img titleContentLeft *ngIf="croppedImage" class="cropped-image" alt="Cropped image" [src]="croppedImage" />

    <div *ngIf="uploader.queue.length === 0" ng2FileDrop (onFileDrop)="fileDropBase($event)"
        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
        class="well drop-zone">
        <div>Drag and drop Image here</div>
        <div>
            or choose from Device
            <button (click)="inputImage.click()" mat-icon-button color="primary" aria-label="Example icon button with a file open icon">
                <mat-icon>file_open</mat-icon>
            </button>
        </div>
    </div>

    <image-cropper [hidden]="uploader.queue.length === 0" #imageCropper [imageFile]="fileToChange" class="image-cropper" [roundCropper]="true"
        [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1" format="png"
        (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"></image-cropper>


    <ng-container actions>
        <button mat-dialog-close mat-stroked-button color="primary">Cancel</button>
        <button (click)="saveImage()" [disabled]="uploader.queue.length === 0" mat-raised-button color="primary">Save</button>
    </ng-container>

    <table *ngIf="false" class="table">
        <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button #itemUpload type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                        [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel(); uploader.clearQueue(); inputImage.value = ''"
                        [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove(); uploader.clearQueue(); inputImage.value = ''">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</app-dialog>