<app-card>
    <app-page-title title></app-page-title>

    <div cdkDropListGroup *ngIf="board; else createBoard" class="board-lists">
        <div class="drag-drop-container">
            <h2>Backlog</h2>

            <div cdkDropList [cdkDropListData]="backlog" class="drag-drop-list" (cdkDropListDropped)="drop($event)">
                <app-task class="drag-drop-box" [task]="item" *ngFor="let item of backlog; let i = index" cdkDrag></app-task>
            </div>
        </div>
        <ng-container *ngFor="let list of board.lists;let i = index;">
            <div class="drag-drop-container">
                <h2>{{list.name}}</h2>

                <div cdkDropList [cdkDropListData]="list.tasks" class="drag-drop-list"
                    (cdkDropListDropped)="drop($event, list)">
                    <app-task class="drag-drop-box" [task]="item" *ngFor="let item of list.tasks; let i = index" cdkDrag></app-task>
                </div>
            </div>
        </ng-container>
    </div>

    <ng-template #createBoard>
        <button (click)="addBoard()" class="new-list" mat-raised-button color="primary">
            <span>Create Board</span>
            <img src="assets/plus.svg" alt="">
        </button>
    </ng-template>

    <button *ngIf="board" (click)="addList()" class="new-list" footer mat-raised-button color="primary">
        <span>New List</span>
        <img src="assets/plus.svg" alt="">
    </button>
</app-card>