:host {
    display: flex;
    padding: 16px 0;
    height: 100%;
    box-sizing: border-box;

    app-card {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.new-list {
    margin-left: auto;

    &::ng-deep .mdc-button__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
    }
}

.board-lists {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
}

.board-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
}