<app-card>
    <!-- <app-page-title title *ngIf="matchWebBreakpoint$ | async"></app-page-title> -->

    <div cdkDropListGroup *ngIf="board; else createBoard" class="board-lists" cdkScrollable>
        <div class="drag-drop-container">
            <div class="board-list-header">
                <h3>Backlog</h3>
                <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="clearBacklog()" mat-menu-item>Clear Backlog</button>
                </mat-menu>
            </div>

            <div [cdkDropListOrientation]="orientation" [style.background]="backlog && backlog.length ? '#E7E7E7' : 'white'" cdkDropList
                [cdkDropListAutoScrollStep]="25" [cdkDropListSortingDisabled]="false" [cdkDropListData]="backlog"
                class="drag-drop-list" (cdkDropListDropped)="drop($event)">

                <ng-container *ngIf="backlog && backlog.length; else noTasks">
                    <app-task (taskChange)="handleEditedTask($any($event))" class="drag-drop-box" [task]="item"
                        *ngFor="let item of backlog; let i = index" cdkDrag>
                        <div class="example-handle" cdkDragHandle>
                            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                                </path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </div>
                    </app-task>
                </ng-container>

                <ng-template #noTasks>
                    <div class="no-tasks">No tasks in Backlog</div>
                </ng-template>
            </div>
        </div>
        <ng-container *ngFor="let list of board.lists;let i = index;">

            <div class="drag-drop-container">
                <div class="board-list-header">
                    <div style="display: flex; align-items: center;">
                        <button (click)="setPosition(list, -1)" aria-label="Move List" *ngIf="i !== 0" mat-icon-button class="move-list">
                            <mat-icon>arrow_left</mat-icon>
                        </button>
                        <!-- Position:{{list.position}} -->
                        <h3 #listTitleElem>{{list.name}}</h3>
                        <app-content-editable [contentId]="i" (valueToEditChange)="updateListName($event, list)"
                            [elementViewClick]="true" [valueToEdit]="list.name" [elementView]="listTitleElem"
                            [elementViewDisplay]="'block'"></app-content-editable>

                    </div>
                    <div style="display: flex;">
                        <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="deleteList(list.id)" mat-menu-item>Delete List</button>
                        </mat-menu>
                        <button *ngIf="i !== board.lists.length - 1" (click)="setPosition(list, 1)" aria-label="Move List" mat-icon-button class="move-list">
                            <mat-icon>arrow_right</mat-icon>
                        </button>
                    </div>
                </div>

                <div [cdkDropListOrientation]="orientation" [style.background]="list.tasks && list.tasks.length ? '#E7E7E7' : 'white'"
                    [cdkDropListAutoScrollStep]="25" cdkDropList [cdkDropListSortingDisabled]="false"
                    [cdkDropListData]="list.tasks" class="drag-drop-list" (cdkDropListDropped)="drop($event, list)">

                    <ng-container *ngIf="list.tasks && list.tasks.length; else noTasks">
                        <app-task (taskChange)="handleEditedTask($any($event))" class="drag-drop-box" [task]="item"
                            *ngFor="let item of list.tasks; let i = index" cdkDrag>
                            <div class="example-handle" cdkDragHandle>
                                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                    <path
                                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                                    </path>
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                </svg>
                            </div>
                        </app-task>
                    </ng-container>

                    <ng-template #noTasks>
                        <div class="no-tasks">No tasks {{ list.name.toLowerCase().includes('in') ? '': 'in'}}
                            {{list.name}} List</div>
                    </ng-template>
                </div>
            </div>
        </ng-container>
    </div>

    <ng-template #createBoard>
        <button (click)="addBoard()" class="new-list" mat-raised-button color="primary">
            <span>Create Board</span>
            <img src="assets/plus.svg" alt="">
        </button>
    </ng-template>

    <button *ngIf="board" (click)="addList()" class="new-list" footer mat-raised-button color="primary">
        <span>New List</span>
        <img src="assets/plus.svg" alt="">
    </button>
</app-card>