<div class="task-header">
    <span [style.background-color]="task.category?.color" class="task-category">
        {{task.category?.name}}
    </span>

    <!-- <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
        <button (click)="editTask()" mat-menu-item>Edit</button>
        <button (click)="deleteTask()" mat-menu-item>Delete</button>
    </mat-menu> -->
</div>

<h3>{{task.title}} Position: {{task.position}} Id: {{task.id}}</h3>

<p>{{task.description}}</p>

<ng-container *ngIf="task.subtasks.length > 0">
    <p>Subtasks</p>
    <div class="subtasks-preview custom-margin-top-small">
        <span [style.background]=" doneSubtasksLength | progressLinearGradient : task.subtasks.length"
            class="subtasks-progress-bar"></span>
        <span>
            {{doneSubtasksLength}}/{{task.subtasks.length}} Done
        </span>
    </div>
</ng-container>

<div class="task-footer custom-margin-top-small">
    <div *ngIf="task.assignees.length > 0" class="task-assignees">
        <ng-container *ngFor="let assignee of task.assignees; let i = index;">
            <ng-container *ngIf="task.assignees.length > 3; else second">
                <app-contact-initials *ngIf="i < 2" [contactName]="assignee.name"></app-contact-initials>
                <app-contact-initials *ngIf="i === 3"
                    [contactName]="'+ '+(task.assignees.length - 2).toFixed()"></app-contact-initials>
            </ng-container>
            <ng-template #second>
                <app-contact-initials [contactName]="assignee.name"></app-contact-initials>
            </ng-template>
        </ng-container>
    </div>
    <img class="priority-icon" src="assets/{{task.priority.toLowerCase()}}.svg" alt="Priority Icon">
</div>

<ng-content></ng-content>