@if(task) {
<div class="task-header">
	<app-category-card [category]="task.category"></app-category-card>
</div>
<h3>{{task.title}}</h3>

<p>{{task.description}}</p>
@if (task.subtasks.length > 0) {<p>Subtasks</p>
<div class="subtasks-preview custom-margin-top-small">
	<span
		[style.background]=" doneSubtasksLength | progressLinearGradient : task.subtasks.length"
		class="subtasks-progress-bar"
	></span>
	<span> {{doneSubtasksLength}}/{{task.subtasks.length}}Done </span>
</div>
}

<div class="task-footer custom-margin-top-small">
	@if (task.assignees.length > 0) {
	<div class="task-assignees">
		@for (assignee of task.assignees; track assignee; let i = $index) { @if
		(task.assignees.length > 3) { @if (i < 2) {
		<app-contact-initials
			[contactPhone]="assignee?.phoneNumber"
			[contactEmail]="assignee?.email"
			[contactName]="assignee.name"
		></app-contact-initials>
		} @if (i === 3) {
		<app-contact-initials
			[contactName]="'+ '+(task.assignees.length - 2).toFixed()"
		></app-contact-initials>
		} } @else {
		<app-contact-initials
			[contactPhone]="assignee.phoneNumber"
			[contactEmail]="assignee.email"
			[contactName]="assignee.name"
		></app-contact-initials>
		} }
	</div>
	}
	<img
		class="priority-icon"
		src="assets/{{task.priority.toLowerCase()}}.svg"
		alt="Priority Icon"
	>
</div>

<ng-content></ng-content>}
