<app-card>
    <app-page-title title ></app-page-title>

    <form class="main-content" [formGroup]="signupForm">

        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Name requirements
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Can only contain numbers, letters.</p>
            <p>Special characters are not allowed.</p>
            <p>Must be a combination of letters, numbers and at least one special character.</p>

        </mat-expansion-panel> -->

        <app-form-field [errors]="[{name: 'required', htmlMessage: 'Name is <strong>required</strong>'},
            {name: 'email', htmlMessage: 'Please enter a valid email address'}]" [autocomplete]="'signup-name'"
            [type]="'text'" [inputType]="'input'" [suffixPath]="'assets/person.svg'"
            [control]="$any(signupForm.get('name'))" [labelName]="'Name'"></app-form-field>

        <app-form-field [errors]="[{name: 'required', htmlMessage: 'Email is <strong>required</strong>'},
                {name: 'pattern', htmlMessage: 'Please enter a valid email address'}]" [autocomplete]="'signup-email'"
            [type]="'email'" [inputType]="'input'" [suffixPath]="'assets/mail.svg'"
            [control]="$any(signupForm.get('email'))" [labelName]="'Email'"></app-form-field>

        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Password requirements
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Must be at least 8 characters long</p>
            <p>Must be a combination of letters, numbers and at least one special character.</p>

        </mat-expansion-panel> -->

        <app-form-field [errors]="[{name: 'required', htmlMessage: 'Password is <strong>required</strong>'},
            {name: 'minlength', htmlMessage: 'Password is <strong>to short</strong>'}]"
            [autocomplete]="'signup-password'" [type]="'password'" [inputType]="'input'"
            [suffixPath]="'assets/password.svg'" [control]="$any(signupForm.get('password'))" [labelName]="'Password'"
            [minLength]="8"></app-form-field>
    </form>

    <div class="footer" footer>

        <div class="simple-grid">
            <button [disabled]="signupForm.invalid" (click)="signUp()" mat-raised-button color="primary">Sign
                Up</button>
        </div>

    </div>

</app-card>