<app-card>
    <app-page-title title ></app-page-title>

    <form class="main-content" [formGroup]="loginForm">

        <app-form-field [errors]="[{name: 'required', htmlMessage: 'Email is <strong>required</strong>'},
            {name: 'pattern', htmlMessage: 'Please enter a valid email address'}]" [autocomplete]="'login-email'"
            [type]="'email'" [inputType]="'input'" [suffixPath]="'assets/mail.svg'"
            [control]="$any(loginForm.get('email'))" [labelName]="'Email'"></app-form-field>

        <app-form-field [errors]="[{name: 'required', htmlMessage: 'Password is <strong>required</strong>'}]"
            [autocomplete]="'login-password'" [type]="'password'" [inputType]="'input'"
            [suffixPath]="'assets/password.svg'" [control]="$any(loginForm.get('password'))"
            [labelName]="'Password'"></app-form-field>

        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Password requirements
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Must be at least 8 character long</p>
            <p>Must be a combination of letters, numbers and at least one special character.</p>

        </mat-expansion-panel> -->
    </form>

    <div class="footer" footer>

        <div class="simple-grid">
            <mat-checkbox [formControl]="rememberMe">Remember me</mat-checkbox>
            <a color="primary" mat-stroked-button routerLink='/auth/forgot-password'>Forgot my password</a>
        </div>

        <div class="simple-grid">
            <button [disabled]="loginForm.invalid" (click)="login()" mat-raised-button color="primary">Log in</button>
            <button mat-stroked-button color="primary">Guest Log in</button>
        </div>

    </div>

</app-card>