mat-form-field {
    display: block;
    // max-width: 100%;
    // width: 422px;
}

.footer {
    display: grid;
    grid-gap: 35px;
    padding: 16px;

    .simple-grid {
        display: flex;
        gap: 35px;
        flex-wrap: wrap;

        button,
        a {
            width: fit-content;
        }
    }
}

.main-content{
    margin-top: 35px;
}