:host{
    a {
        display: flex;
        color: #CDCDCD;
        justify-content: flex-start;

        &.active-link{
            color: white;
            background-color: #091931;
        }
    }
}