<app-card>
    <app-page-title *ngIf="matchWebBreakpoint$ | async" title></app-page-title>

    <form class="main-content" [formGroup]="addTaskForm">
        <div class="form-field-group">
            <app-form-field [errors]="[
                {name: 'required', htmlMessage: 'Title is <strong>required</strong>'}
            ]" [autocomplete]="'task-title'" [type]="'text'" [inputType]="'input'" [labelName]="'Enter a Title'"
                [control]="$any(addTaskForm.get('title'))"></app-form-field>

            <app-form-field [required]="false" [autocomplete]="'task-description'" [type]="'text'"
                [inputType]="'text-area'" [labelName]="'Enter a Description'"
                [control]="$any(addTaskForm.get('description'))"></app-form-field>

            <app-form-field [errors]="[
            {name: 'required', htmlMessage: 'Category is <strong>required</strong>'}]" [suffixIcon]="'add'" (action)="
                addCategory()" [options]="categories$ | async | options : 'name' : 'id': this.getCategoryOptionHTML"
                [required]="true" [inputType]="'select'" [labelName]="'Select a category'"
                [control]="$any(addTaskForm.get('category'))">
            </app-form-field>

            <app-form-field [multiple]="true" [suffixIcon]="'add'" (action)="addContact()"
                [options]="contacts$ | async | options : 'name' : 'id'" [required]="false" [inputType]="'select'"
                [labelName]="'Select assignees'" [control]="$any(addTaskForm.get('assignees'))">
            </app-form-field>
        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <div class="form-field-group">
            <app-form-field [errors]="[
                {name: 'required', htmlMessage: 'Date is <strong>required</strong>'}
            ]" [autocomplete]="'date-title'" [inputType]="'date'" [labelName]="'dd/mm/yyyy'"
                [control]="$any(addTaskForm.get('dueDate'))"></app-form-field>

            <app-form-field [errors]="[{name: 'required', htmlMessage: 'Priority is <strong>required</strong>'}]"
                [options]="[{name: 'Low'}, {name: 'Medium'}, {name: 'Urgent'}] | options : 'name' : 'name': this.getPriorityOptionHTML"
                [required]="true" [inputType]="'select'" [labelName]="'Select a priority'"
                [control]="$any(addTaskForm.get('priority'))">
            </app-form-field>

            <app-form-field [required]="false" [suffixIcon]="'add'" (action)="addSubtask()"
                [autocomplete]="'task-subtask'" [type]="'text'" [inputType]="'input'" [labelName]="'Add new subtask'"
                [control]="addSubtaskForm"></app-form-field>

            <div>
                <div *ngFor="let subtask of $any(addTaskForm.get('subtasks')?.value)">
                    <mat-checkbox #subtaskCheck (change)="updateSubtask($event.checked, subtask)" [checked]="subtask.done">
                        {{subtask.title}}
                    </mat-checkbox>
                </div>
            </div>
        </div>

    </form>

    <div *ngIf="!hideFooter" class="footer" footer>
        <div class="simple-grid">
            <button (click)="addTaskForm.reset()" mat-stroked-button color="primary">Clear</button>
            <button [disabled]="addTaskForm.invalid" (click)="saveTask()" mat-raised-button color="primary">
                <span *ngIf="mode == 'add'">Create Task</span>
                <span *ngIf="mode == 'edit'">Edit Task</span>
            </button>
        </div>
    </div>
</app-card>