<app-dialog [title]="'Announcement'">
    <mat-icon titleContentLeft color="warn">privacy_tip</mat-icon>
    <p><b>This is a Hobby Project.</b></p>
    <p>Therefore, personal features like Login, SignUp, Forgot Password, Reset Password, Profile Update are disabled.</p>
    <p>Please feel free to test this site using the Guest Login, which allows you to explore most of the features without creating a
        personal account.</p>
    <p><b>No personal information should be entered, as it is for testing purposes only.</b></p>
    <div class="footer" actions>
        <div class="simple-grid">
            <button mat-dialog-close="" mat-stroked-button color="primary">I Understand</button>
        </div>
    </div>
</app-dialog>