<!-- <app-page-title title *ngIf="matchWebBreakpoint$ | async"></app-page-title> -->
@if (summary) {
<div class="summary-counts">
	@if (summary.tasksInBacklog.count) {
	<app-card class="counter-wrapper">
		<p title class="counter">{{ summary.tasksInBacklog.count }}</p>
		<p subtitle class="counter">
			{{ summary && summary.tasksInBacklog.count > 1 ? 'Tasks' :
          'Task' }}
			<br>
			in Backlog
		</p>
		<!-- <span>Due date: {{summary?.tasksInBacklog?.latestDueDate | date: 'MMMM dd, yyyy'}}</span> -->
	</app-card>
	}
	<div class="tasks-by-priority">
		@for (counter of summary.tasksByPriority; track counter) {
		<app-card class="counter-wrapper">
			<p title class="counter">
				<img src="assets/{{counter.priority | lowercase}}.svg" alt="">
				{{ counter.count }}
			</p>
			<p subtitle class="counter">
				{{ counter.priority }}
				{{ counter.count > 1 ? 'Tasks' : 'Task' }}
			</p>
		</app-card>
		}
	</div>
	<div class="tasks-in-lists">
		@for (counter of summary.tasksInLists; track counter) {
		<app-card class="counter-wrapper">
			<p title class="counter">{{ counter.count }}</p>
			<p subtitle class="counter">
				{{ counter.count > 1 ? 'Tasks' : 'Task' }}
				<br>
				in {{ counter.listName }}
			</p>
			<!-- <p footer>{{counter.listBoardTitle}}</p> -->
		</app-card>
		}
	</div>
</div>
}

<!-- <ng-template #emptySummary>
  <div class="summary-counts">
    <app-card class="greeting-wrapper">
      <p title>There is not much going on here.</p>
    </app-card>
  </div>
</ng-template> -->

<div class="summary-counts">
	<app-card class="greeting-wrapper">
		<p title>
			<span>{{ greetUser }}</span>, @if (profile) {<span
				>{{ profile.name || profile.email || 'Guest' }}</span
			>} @else { Guest }
		</p>
		@if (summaryEmpty) {
		<div subtitle>
			<p>Nothing much going on here.</p>
			<p>Try out adding some tasks.</p>
		</div>
		}

		<div footer>
			<app-router-link
				[basePath]="'/'"
				[routeByPath]="'add-task'"
			></app-router-link>
		</div>
	</app-card>
	@if(summary) {
	<div class="tasks-by-category">
		@for (counter of summary.tasksByCategory; track counter) {
		<app-card class="counter-wrapper">
			<p title class="counter">{{ counter.count }}</p>
			<p subtitle class="counter">
				<app-category-card
					[category]="{name: counter.categoryName, color: counter.categoryColor}"
				></app-category-card>
				{{ counter.count > 1 ? 'Tasks' : 'Task' }}
			</p>
			<!-- <p footer>{{counter.listBoardTitle}}</p> -->
		</app-card>
		}
	</div>
	}
</div>
