<!-- <app-page-title title *ngIf="matchWebBreakpoint$ | async"></app-page-title> -->
<div class="summary-counts" *ngIf="!summaryEmpty">
    <app-card *ngIf="summary?.tasksInBacklog?.count" class="counter-wrapper">
        <p title class="counter">{{summary?.tasksInBacklog?.count}}</p>
        <p subtitle class="counter">{{ summary && summary.tasksInBacklog.count > 1 ? 'Tasks' :
            'Task'}}<br>in Backlog</p>
        <!-- <span>Due date: {{summary?.tasksInBacklog?.latestDueDate | date: 'MMMM dd, yyyy'}}</span> -->
    </app-card>

    <div class="tasks-by-priority">
        <app-card class="counter-wrapper" *ngFor="let counter of summary?.tasksByPriority">
            <p title class="counter">
                <img src="assets/{{counter.priority | lowercase}}.svg" alt="">
                {{counter.count}}
            </p>
            <p subtitle class="counter">
                {{counter.priority}}
                {{ counter.count > 1 ? 'Tasks' : 'Task'}}
            </p>
        </app-card>
    </div>

    <div class="tasks-in-lists">
        <app-card class="counter-wrapper" *ngFor="let counter of summary?.tasksInLists">
            <p title class="counter">{{counter.count}}</p>
            <p subtitle class="counter">{{ counter.count > 1 ? 'Tasks' : 'Task'}}<br>in {{counter.listName}}</p>
            <!-- <p footer>{{counter.listBoardTitle}}</p> -->
        </app-card>
    </div>
</div>

<!-- <ng-template #emptySummary>
    <div class="summary-counts">
        <app-card class="greeting-wrapper">
            <p title>There is not much going on here.</p>
        </app-card>
    </div>
</ng-template> -->

<div class="summary-counts">
    <app-card class="greeting-wrapper">
        <p title>
            <span>{{greetUser}}</span>,
            <span *ngIf="profile; else anonymous">{{profile.name || profile.email || 'Guest'}}</span>
            <ng-template #anonymous>Guest</ng-template>
        </p>

        <div subtitle *ngIf="summaryEmpty">
            <p>Nothing much going on here.</p>
            <p>Try out adding some tasks.</p>
        </div>

        <div footer>
            <app-router-link [basePath]="'/'" [routeByPath]="'add-task'"></app-router-link>
        </div>
    </app-card>

    <div class="tasks-by-category">
        <app-card class="counter-wrapper" *ngFor="let counter of summary?.tasksByCategory">
            <p title class="counter">{{counter.count}}</p>
            <p subtitle class="counter">
                <app-category-card [category]="{name: counter.categoryName, color: counter.categoryColor}">
                </app-category-card>
                {{ counter.count > 1 ? 'Tasks' : 'Task'}}
            </p>
            <!-- <p footer>{{counter.listBoardTitle}}</p> -->
        </app-card>
    </div>
</div>