<app-card>
    <app-page-title title></app-page-title>

    <div>Don't worry! We will send you an email with the instructions to reset your password.</div>

    <form class="main-content" [formGroup]="forgotPasswordForm">
        <app-form-field [errors]="[
                {name: 'required', htmlMessage: 'Email is <strong>required</strong>'},
                {name: 'email', htmlMessage:'Please enter a valid email address'}
            ]" [autocomplete]="'login-email'" [type]="'email'" [inputType]="'input'" [labelName]="'Email'"
            [suffixPath]="'assets/mail.svg'" [control]="$any(forgotPasswordForm.get('email'))"></app-form-field>
    </form>

    <div class="footer" footer>

        <div class="simple-grid">
            <button [disabled]="forgotPasswordForm.invalid" (click)="sendMail()" mat-raised-button color="primary">Send
                mail</button>
        </div>

    </div>

</app-card>