/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    height: 100vh;
}

.category-option{
    display: flex;
    gap: 16px;
}

.category-color{
    border-radius: 100%;
    width: 1em;
    height: 1em;
    border: 1px solid white;
}

.priority-option{
    display: flex;
    gap: 16px;
}
