<mat-checkbox #subtaskCheck (change)="updateSubtaskCheck($event.checked)" [checked]="subtask.done">
    <span [style.display]="'inline'" #subtaskTitleView>{{subtask.title}}</span>
    <app-content-editable [contentId]="subtaskId" [(valueToEdit)]="subtask.title" [elementViewDisplay]="'inline'"
        [elementView]="subtaskTitleView" [changing]="changingSubtaskTitle$"></app-content-editable>
</mat-checkbox>

<div [style.display]="'flex'">
    <button (click)="editSubtask()" mat-icon-button aria-label="Edit Subtask">
        <mat-icon>edit</mat-icon>
    </button>

    <button (click)="removeTask$.emit(subtask)" mat-icon-button aria-label="Remove Subtask">
        <mat-icon>remove</mat-icon>
    </button>
</div>