<mat-form-field appearance="outline">
  @if (labelName) {
    <mat-label>{{labelName}}</mat-label>
  }

  @if (inputType === 'input' && type !== 'tel') {
    <input [required]="required" maxlength="100"
      minlength="{{minLength || 0}}" (focus)="resetErrorState()" [autocomplete]="autocomplete"
      [attr.type]="type || 'text'" matInput [formControl]="$any(control)" [errorStateMatcher]="customMatcher"/>
  }

  @if (inputType === 'input' && type === 'tel') {
    <input (input)="handleInputPhoneNumber($any($event))" [required]="required" maxlength="100"
      minlength="{{minLength || 0}}" (focus)="resetErrorState()" [autocomplete]="autocomplete"
      [attr.type]="type || 'text'" matInput [formControl]="$any(control)" [errorStateMatcher]="customMatcher"/>
  }

  @if (inputType === 'text-area') {
    <textarea (blur)="$any($event.target).style.height = '100px'" (focus)="$any($event.target).style.height = '300px'" [required]="required" maxlength="500"
      minlength="{{minLength || 0}}" (focus)="resetErrorState()" [autocomplete]="autocomplete"
      [attr.type]="type || 'text'" matInput [formControl]="$any(control)"
    [errorStateMatcher]="customMatcher"></textarea>
  }

  @if (inputType === 'select') {
    <mat-select [multiple]="multiple" [required]="required" (focus)="resetErrorState()"
      [formControl]="$any(control)" [errorStateMatcher]="customMatcher">
      @for (option of options; track option) {
        <mat-option [value]="option.valueOnSelect">
          <div [innerHTML]="(option.html || $any(option.displayValue)) | sanitizeHtml"></div>
        </mat-option>
      }
    </mat-select>
  }

  @if (inputType === 'color') {
    <div class="input-color">
      <input (focus)="resetErrorState()" [autocomplete]="autocomplete" [required]="required" matInput
        [(colorPicker)]="control.value" [style.background]="control.value" [formControl]="$any(control)" [disabled]="false"
        [errorStateMatcher]="customMatcher"/>
      </div>
    }


    @if (inputType === 'date') {
      <input [min]="today" [formControl]="$any(control)" [errorStateMatcher]="customMatcher"
        (focus)="resetErrorState()" [autocomplete]="autocomplete" [required]="required" matInput
        [matDatepicker]="picker"/>
    }
    @if (inputType === 'date') {
      <mat-datepicker-toggle (click)="resetErrorState()" matIconSuffix
      [for]="picker"></mat-datepicker-toggle>
    }
    <mat-datepicker [hidden]="inputType !== 'date'" #picker></mat-datepicker>


    @if (suffixPath) {
      <img matTextSuffix src="{{suffixPath}}" alt="">
    }

    @if (suffixIcon) {
      <button matSuffix (click)="$event.stopPropagation(); action.emit()" mat-icon-button>
        <mat-icon>{{suffixIcon}}</mat-icon>
      </button>
    }

    @if (errors && errors.length > 0 && $any(control) | hasError : errors) {
      <mat-error
      [innerHTML]="$any(control) | messageError: errors"></mat-error>
    }
  </mat-form-field>
