@if (!selected) {
<button mat-stroked-button>
	<app-contact-card [contact]="contact" subtitle>
		<!-- <span *ngIf="contact.name && !contact.email">{{contact.name}}</span> -->
		@if (contact.phoneNumber && !contact.email && !contact.name) {
		<a href="tel:{{contact.phoneNumber}}">{{contact.phoneNumber}}</a>}
	</app-contact-card>
</button>
} @if (selected) {
<button mat-raised-button color="primary">
	<app-contact-card [contact]="contact" subtitle>
		<!-- <span *ngIf="contact.name && !contact.email">{{contact.name}}</span> -->
		@if (contact.phoneNumber && !contact.email && !contact.name) {
		<a href="tel:{{contact.phoneNumber}}">{{contact.phoneNumber}}</a>}
	</app-contact-card>
</button>
}
