<app-card>
    <app-page-title title >
        <app-to-login before></app-to-login>
    </app-page-title>

    <form class="main-content" [formGroup]="resetPasswordForm">

        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Name requirements
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Can only contain numbers, letters.</p>
            <p>Special characters are not allowed.</p>
            <p>Must be a combination of letters, numbers and at least one special character.</p>

        </mat-expansion-panel> -->

        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Password requirements
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Must be at least 8 characters long</p>
            <p>Must be a combination of letters, numbers and at least one special character.</p>

        </mat-expansion-panel> -->

        <app-form-field [errors]="[{name: 'required', htmlMessage: 'Password is <strong>required</strong>'},
            {name: 'minlength', htmlMessage: 'Password is <strong>to short</strong>'}]" [autocomplete]="'new-password'"
            [type]="'password'" [inputType]="'input'" [suffixPath]="'assets/password.svg'"
            [control]="$any(resetPasswordForm.get('password'))" [labelName]="'New Password'"
            [minLength]="8"></app-form-field>

        <app-form-field [errors]="[{name: 'required', htmlMessage: 'Password is <strong>required</strong>'}]"
            [autocomplete]="'confirm-password'" [type]="'password'" [inputType]="'input'"
            [suffixPath]="'assets/password.svg'" [control]="$any(resetPasswordForm.get('confirmedPassword'))"
            [labelName]="'Confirm Password'" [minLength]="8"></app-form-field>
    </form>

    <div class="footer" footer>

        <div class="simple-grid">
            <button [disabled]="resetPasswordForm.invalid" (click)="resetPassword()" mat-raised-button
                color="primary">Reset Password</button>
        </div>

    </div>

</app-card>